.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 8rem;

  h1 {
    color: var(--yellow-500);
    font-size: 2rem;
  }

  .description {
    display: flex;
    font-size: 1rem;
    margin-top: 1rem;
    justify-content: center;
    text-align: center;
  }
}